<a href="https://colab.research.google.com/github/kvnchandra/ml-assignment-bangkit/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Predicting Breast Cancer Diagnostic**


---


*Bangkit Academy 2020 : DPS-1 #05-W05-First Machine Learning Project - MLCC*

Team members :
1.   Kevin Chandra
2.   Oktavia Citra
3.   Gani Nur Fadli

We use data from [kaggle.com ](https://https://www.kaggle.com/) with the title "Breast Cancer Wisconsin (Diagnostic) Data Set". We want to predict whether the cancer is benign or malignant of breast cancer patients. We can build this program because we've learned a lot from [Machine Learning Crash Course](https://developers.google.com/machine-learning/crash-course) and [TensorFlow Website](https://www.tensorflow.org/tutorials/)

***Here the step by step and code bellow!***

# Setup

identification tensorflow newest version, so there is no error with the caption "tensorflow is already loaded. please restart the runtime to change versions."

In [0]:
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass

import all modules and library that you need in the top

In [0]:
# Import relevant modules
from __future__ import absolute_import, division, print_function, unicode_literals
import functools
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow import keras
from sklearn.model_selection import train_test_split

# Initial Data

If you have data.csv and you want to publish on web, you can use feature Google Spreadsheet. You just need to copy the link that had been generated

In [0]:
# Download data using URL then save as "data.csv"
URL = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQwPxotnLsgXuZt6tIXlAANttT3pxhP4ph0FhSjwvGUXfGKcnFRiqJORQg_9lBC77AH7QaxYypQ24nX/pub?output=csv"
dataset_path = keras.utils.get_file("data.csv", URL)
dataset_path

'/root/.keras/datasets/data.csv'

This is using funcation read data csv from pandas. It's so simple

In [0]:
# Read data that had been dowloaded
dataframe = pd.read_csv(dataset_path)
dataframe.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...           4.601                    1.189
1    842517         M  ...         275.000                    8.902
2  84300903         M  ...           3.613                    8.758
3  84348301         M  ...           6.638                  173.000
4  84358402         M  ...           2.364                    7.678

[5 rows x 32 columns]

In classification, you must have 3 types of data. Those are train data, validation data, and test data.

In [0]:
# Separate data into 3 types
train, test = train_test_split(dataframe, test_size=0.2)
train, val = train_test_split(train, test_size=0.2)
print('Length of\n\tTrain Data\t: ', len(train),
      '\n\tValidation Data\t: ', len(val),
      '\n\tTest Data\t: ', len(test))

Length of
	Train Data	:  364
	Validation Data	:  91
	Test Data	:  114

**Data Visualisation and pre-processing**

In [0]:
#Data Visualisation and pre-processing
dataframe.drop('id',axis=1,inplace=True) #dropping the 'id' column
print("Row, Col", dataframe.shape)# (row,col)

dataframe['diagnosis'] = dataframe['diagnosis'].map({'M':1,'B':0})
dataframe.head()

Row, Col (569, 31)

   diagnosis  radius_mean  ...  symmetry_worst  fractal_dimension_worst
0          1        17.99  ...           4.601                    1.189
1          1        20.57  ...         275.000                    8.902
2          1        19.69  ...           3.613                    8.758
3          1        11.42  ...           6.638                  173.000
4          1        20.29  ...           2.364                    7.678

[5 rows x 31 columns]

# Inspect Data

Choose one criteria column from the data

In [0]:
# Create plot to display data
sns.pairplot(dataframe[["diagnosis",	"radius_mean",	"radius_se",
                        "radius_worst"]], diag_kind="kde")

NameError: ignored